# Amazon Spark Analysis

## Dependancies

### Import Spark Dependancies

In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,890 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,326 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,523 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,300 kB]
Fetched 10.3 MB in 6s (1,667 kB/s)
Reading package lists... Done

### Import SQL Dependancies

In [2]:
# First, enter the following code to download a Postgres driver that will allow Spark to interact with Postgres:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

# Then, start a Spark session with an additional option that adds the driver to Spark:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

--2022-07-13 20:58:01--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.4’

postgresql-42.2.16. 100%[===================>] 979.38K  5.49MB/s    in 0.2s

2022-07-13 20:58:01 (5.49 MB/s) - ‘postgresql-42.2.16.jar.4’ saved [1002883/1002883]

## Tables

### Load Data from .tsv

In [3]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://beanies-bucket.s3.us-west-1.amazonaws.com/amazon_reviews_us_Video_Games_v1_00.tsv"
spark.sparkContext.addFile(url)
video_games_reviews_df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Video_Games_v1_00.tsv"), sep="\t", 
                                        header=True, inferSchema=True)
video_games_reviews_df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   12039526| RTIS3L2M1F5SM|B001CXYMFS|     737716809|Thrustmaster T-Fl...|     Video Games|          5|            0|          0|   N|                Y|an amazing joysti...|Used this for Eli...| 2015-08-31|
|         US|    9636577| R1ZV7R40OLHKD|B00M920ND6|     569686175|Tonsee 6 buttons ...|     Video Games|          5|            0|          0|   N|                Y|Definitely a sile...|Loved it,  I didn...| 2015-08-31|
|         US|    2331478|R3BH071QLH8QMC|B0029CSOD2|      98937668|Hidden Mysteries:...|     Video Games|          1|            0|          1|   N|                Y|            One Star|poor quality work...| 2015-08-31|
|         US|   52495923|R127K9NTSXA2YH|B00GOOSV98|      23143350|GelTabz Performan...|     Video Games|          3|            0|          0|   N|                Y|good, but could b...|nice, but tend to...| 2015-08-31|
|         US|   14533949|R32ZWUXDJPW27Q|B00Y074JOM|     821342511|Zero Suit Samus a...|     Video Games|          4|            0|          0|   N|                Y|   Great but flawed.|Great amiibo, gre...| 2015-08-31|
|         US|    2377552|R3AQQ4YUKJWBA6|B002UBI6W6|     328764615|Psyclone Recharge...|     Video Games|          1|            0|          0|   N|                Y|            One Star|The remote consta...| 2015-08-31|
|         US|   17521011|R2F0POU5K6F73F|B008XHCLFO|      24234603|Protection for yo...|     Video Games|          5|            0|          0|   N|                Y|              A Must|I have a 2012-201...| 2015-08-31|
|         US|   19676307|R3VNR804HYSMR6|B00BRA9R6A|     682267517|   Nerf 3DS XL Armor|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Perfect, kids lov...| 2015-08-31|
|         US|     224068| R3GZTM72WA2QH|B009EPWJLA|     435241890|One Piece: Pirate...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|            Excelent| 2015-08-31|
|         US|   48467989| RNQOY62705W1K|B0000AV7GB|     256572651|Playstation 2 Dan...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|Slippery but expe...| 2015-08-31|
|         US|     106569|R1VTIA3JTYBY02|B00008KTNN|     384411423|Metal Arms: Glitc...|     Video Games|          5|            0|          0|   N|                N|          Five Stars|Love the game. Se...| 2015-08-31|
|         US|   48269642|R29DOU8791QZL8|B000A3IA0Y|     472622859|72 Pin Connector ...|     Video Games|          1|            0|          0|   N|                Y| Game will get stuck|Does not fit prop...| 2015-08-31|
|         US|   52738710|R15DUT1VIJ9RJZ|B0053BQN34|     577628462|uDraw Gametablet ...|     Video Games|          2|            0|          0|   N|                Y|We have tried it ...|This was way too ...| 2015-08-31|
|         US|   10556786|R3IMF2MQ3OU9ZM|B002I0HIMI|     988218515|NBA 2K12(Covers M...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|Works great good ...| 2015-08-31|
|         US|    2963837|R23H79DHOZTYAU|B0081EH12M|     770100932|New Trigger Grips...|     Video Games|          1|            1|          1|   N|                Y|Now i have to buy...|It did not fit th...| 2015-08-31|
|         US|   23092109| RIV24EQAIXA4O|B005FMLZQQ|      24647669|Xbox 360 Media Re...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|perfect lightweig...| 2015-08-31|
|         US|   23091728|R3UCNGYDVN24YB|B002BSA388|      33706205|Super Mario Galaxy 2|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|               great| 2015-08-31|
|         US|   10712640| RUL4H4XTTN2DY|B00BUSLSAC|     829667834|Nintendo 3DS XL -...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Works beautifully...| 2015-08-31|
|         US|   17455376|R20JF7Z4DHTNX5|B00KWF38AW|     110680188|Captain Toad:  Tr...|     Video Games|          5|            0|          0|   N|                Y|          Five Stars|Kids loved the ga...| 2015-08-31|
|         US|   14754850|R2T1AJ5MFI2260|B00BRQJYA8|     616463426|Lego Batman 2: DC...|     Video Games|          4|            0|          0|   N|                Y|          Four Stars|           Goodngame| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

### Customers Table

In [4]:
customers_table = video_games_reviews_df.groupby(['customer_id']).count().withColumnRenamed('count', 'customer_count')

customers_table.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   48670265|             1|
|   49103216|             2|
|    1131200|             1|
|   43076447|             2|
|   46261368|             1|
|    4883305|             5|
|   41192649|             1|
|   40985731|             7|
|   10437900|             2|
|   22245671|             1|
|    2574873|             1|
|    4696154|             1|
|    5621202|             1|
|    5871933|             2|
|   44089812|             1|
|    2845910|             1|
|    5274369|             1|
|   39069693|             2|
|     137793|             1|
|   31914942|             3|
+-----------+--------------+
only showing top 20 rows

### Product Table

In [5]:
product_table = video_games_reviews_df.select(['product_id','product_title']).drop_duplicates()

product_table.show(truncate = False)

+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|product_id|product_title                                                                                                                                                                                                           |
+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|B00CJ7IUI6|The Elder Scrolls V: Skyrim Legendary Edition                                                                                                                                                                           |
|B00DHF39KS|Wolfenstein: The New Order                                                                                                                                                                                              |
|B00MUTAVH6|Under Night In-Birth Exe:Late - PlayStation 3                                                                                                                                                                           |
|B001AZSEUW|Peggle                                                                                                                                                                                                                  |
|B00KVOVBGM|PlayStation 4 Console - Destiny Bundle [Discontinued]                                                                                                                                                                   |
|B00O9VGH4Y|USPRO&reg; Headphone Audio Adapter for Xbox 360                                                                                                                                                                         |
|B004OQNZY4|Phineas and Ferb: Across the 2nd Dimension                                                                                                                                                                              |
|B00ZLN980O|Donop seablue 2.4g Wireless Controller for Ps2,game Pad Game Joysticks Gaming Controller Joypad Gamepad Console Controller for Sony Playstation 2 w/ Dual Shock Dual Vibration Feedback Motors Easy Installation for Ps2|
|B002L8W5V6|Dotop Nintendo Gamecube Compatible Controller Pack 2 Black                                                                                                                                                              |
|B007AJZ5PY|Nyko Game Case for Vita - PlayStation Vita                                                                                                                                                                              |
|B000AOEU2K|Fire Emblem: Path of Radiance - Gamecube                                                                                                                                                                                |
|B000H8BW7U|Tanarus (PC) (Computer Game)                                                                                                                                                                                            |
|B013RADQOQ|Susenstone® 2400DPI LED Optical 6D USB Wired Gaming Game Mouse For PC Laptop Game                                                                                                                                       |
|B00KQXKUJ2|FIFA 15 (Ultimate Edition) - PlayStation 4                                                                                                                                                                              |
|B006W41X2C|Turtle Beach - Ear Force DP11 Gaming Headset - Dolby Surround Sound - PS3                                                                                                                                               |
|B000KCX9M4|Grand Theft Auto:  The Trilogy                                                                                                                                                                                          |
|B00YT90JWC|Red Wii Mini Console MotionPlus Bundle (Wii) (Bundle) (Certified Refurbished)                                                                                                                                           |
|B0096KG6A8|Wii U Super Mario Starter Pack                                                                                                                                                                                          |
|B00L6AVLB0|World of Tanks-X360 Xbox 360 English US NTSC DVD - Xbox 360                                                                                                                                                             |
|B000IMYKQ0|Wii Nunchuk Controller                                                                                                                                                                                                  |
+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

### Review ID Table

In [6]:
from pyspark.sql.functions import *
review_id_table = video_games_reviews_df.select(['review_id','customer_id', 'product_id','product_parent', 
                                                 to_date('review_date', 'yyyy-MM-dd').alias('review_date')])

review_id_table.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
| RTIS3L2M1F5SM|   12039526|B001CXYMFS|     737716809| 2015-08-31|
| R1ZV7R40OLHKD|    9636577|B00M920ND6|     569686175| 2015-08-31|
|R3BH071QLH8QMC|    2331478|B0029CSOD2|      98937668| 2015-08-31|
|R127K9NTSXA2YH|   52495923|B00GOOSV98|      23143350| 2015-08-31|
|R32ZWUXDJPW27Q|   14533949|B00Y074JOM|     821342511| 2015-08-31|
|R3AQQ4YUKJWBA6|    2377552|B002UBI6W6|     328764615| 2015-08-31|
|R2F0POU5K6F73F|   17521011|B008XHCLFO|      24234603| 2015-08-31|
|R3VNR804HYSMR6|   19676307|B00BRA9R6A|     682267517| 2015-08-31|
| R3GZTM72WA2QH|     224068|B009EPWJLA|     435241890| 2015-08-31|
| RNQOY62705W1K|   48467989|B0000AV7GB|     256572651| 2015-08-31|
|R1VTIA3JTYBY02|     106569|B00008KTNN|     384411423| 2015-08-31|
|R29DOU8791QZL8|   48269642|B000A3IA0Y|     472622859| 2015-08-31|
|R15DUT1VIJ9RJZ|   52738710|B0053BQN34|     577628462| 2015-08-31|
|R3IMF2MQ3OU9ZM|   10556786|B002I0HIMI|     988218515| 2015-08-31|
|R23H79DHOZTYAU|    2963837|B0081EH12M|     770100932| 2015-08-31|
| RIV24EQAIXA4O|   23092109|B005FMLZQQ|      24647669| 2015-08-31|
|R3UCNGYDVN24YB|   23091728|B002BSA388|      33706205| 2015-08-31|
| RUL4H4XTTN2DY|   10712640|B00BUSLSAC|     829667834| 2015-08-31|
|R20JF7Z4DHTNX5|   17455376|B00KWF38AW|     110680188| 2015-08-31|
|R2T1AJ5MFI2260|   14754850|B00BRQJYA8|     616463426| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

### Vine Table

In [7]:
vine_table = video_games_reviews_df.select(['review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase'])

vine_table.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
| RTIS3L2M1F5SM|          5|            0|          0|   N|                Y|
| R1ZV7R40OLHKD|          5|            0|          0|   N|                Y|
|R3BH071QLH8QMC|          1|            0|          1|   N|                Y|
|R127K9NTSXA2YH|          3|            0|          0|   N|                Y|
|R32ZWUXDJPW27Q|          4|            0|          0|   N|                Y|
|R3AQQ4YUKJWBA6|          1|            0|          0|   N|                Y|
|R2F0POU5K6F73F|          5|            0|          0|   N|                Y|
|R3VNR804HYSMR6|          5|            0|          0|   N|                Y|
| R3GZTM72WA2QH|          5|            0|          0|   N|                Y|
| RNQOY62705W1K|          4|            0|          0|   N|                Y|
|R1VTIA3JTYBY02|          5|            0|          0|   N|                N|
|R29DOU8791QZL8|          1|            0|          0|   N|                Y|
|R15DUT1VIJ9RJZ|          2|            0|          0|   N|                Y|
|R3IMF2MQ3OU9ZM|          4|            0|          0|   N|                Y|
|R23H79DHOZTYAU|          1|            1|          1|   N|                Y|
| RIV24EQAIXA4O|          5|            0|          0|   N|                Y|
|R3UCNGYDVN24YB|          5|            0|          0|   N|                Y|
| RUL4H4XTTN2DY|          5|            0|          0|   N|                Y|
|R20JF7Z4DHTNX5|          5|            0|          0|   N|                Y|
|R2T1AJ5MFI2260|          4|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

### Combined Tables

In [8]:
# Filter rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
greaterThan20 = customers_table.filter(customers_table.customer_count>=20)
greaterThan20.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   16229582|            24|
|   17481726|            95|
|   11272310|            20|
|   14175902|            22|
|    6367756|            65|
|    7455053|            50|
|   41605744|            21|
|   31564043|            24|
|   35892611|            29|
|   17171509|            20|
|   46595148|            28|
|   53067883|            53|
|   51402733|            20|
|   47823593|            44|
|   51680053|            31|
|   49336508|            21|
|   14365065|            27|
|   35474593|            20|
|   23384571|            23|
|   16298267|            22|
+-----------+--------------+
only showing top 20 rows

In [9]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of
# helpful_votes divided by total_votes is equal to or greater than 50%.
goodVotes = vine_table.filter((vine_table.helpful_votes)/(vine_table.total_votes)>=.5)
fullReviews = goodVotes.join(review_id_table, vine_table.review_id == review_id_table.review_id)
analysisTable = greaterThan20.join(fullReviews, greaterThan20.customer_id == fullReviews.customer_id)
analysisTable.show()

+-----------+--------------+--------------+-----------+-------------+-----------+----+-----------------+--------------+-----------+----------+--------------+-----------+
|customer_id|customer_count|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_id|customer_id|product_id|product_parent|review_date|
+-----------+--------------+--------------+-----------+-------------+-----------+----+-----------------+--------------+-----------+----------+--------------+-----------+
|    6367756|            65|R17T28Y9WKGKYN|          5|            1|          1|   N|                Y|R17T28Y9WKGKYN|    6367756|B00009VRFX|     523524339| 2014-11-20|
|    6367756|            65| R6334LOK39I13|          4|            1|          1|   N|                Y| R6334LOK39I13|    6367756|B001NQB6BW|     744092472| 2014-11-20|
|    6367756|            65|R13AH2G8X0P20T|          4|            1|          1|   N|                Y|R13AH2G8X0P20T|    6367756|B00007L4WE|     195596358| 2014-11-20|
|    7455053|            50|R30RBL5VR3783B|          3|            1|          1|   N|                N|R30RBL5VR3783B|    7455053|B00AXI9WEE|      79753503| 2014-08-26|
|    7455053|            50|R1RDRO0UTN7OPA|          3|            2|          2|   N|                N|R1RDRO0UTN7OPA|    7455053|B000AVHXMM|     978800730| 2014-07-09|
|    7455053|            50|R1V9FFVLKTCDFK|          4|            2|          2|   N|                N|R1V9FFVLKTCDFK|    7455053|B004OQGXUW|     145271056| 2014-08-25|
|    7455053|            50| RRY3OTCA284QA|          3|            2|          2|   N|                N| RRY3OTCA284QA|    7455053|B002I0EPP6|     616172965| 2014-08-25|
|    7455053|            50| RVDBGG5L9H9NG|          4|            1|          1|   N|                N| RVDBGG5L9H9NG|    7455053|B00005O628|     357829376| 2014-07-10|
|    7455053|            50|R37533YKW21KTE|          4|            2|          3|   N|                N|R37533YKW21KTE|    7455053|B003JRZJM0|     756268650| 2014-08-25|
|    7455053|            50| R49WZVD3ACODA|          4|            5|          6|   N|                N| R49WZVD3ACODA|    7455053|B00004VXA2|     842617540| 2014-08-28|
|    7455053|            50| RCTLTHAUY56UM|          2|            1|          2|   N|                N| RCTLTHAUY56UM|    7455053|B00CAWF9WU|     578895400| 2014-08-26|
|    7455053|            50| RGEL2EBYCR7CH|          5|            1|          1|   N|                N| RGEL2EBYCR7CH|    7455053|B00E9GQX02|      25037548| 2014-08-25|
|    7455053|            50|R3EYSG73FF2TZX|          1|            1|          1|   N|                N|R3EYSG73FF2TZX|    7455053|B004L5SJ62|     242372396| 2014-07-10|
|    7455053|            50| RHI1C2Y21YWJ5|          5|            1|          1|   N|                N| RHI1C2Y21YWJ5|    7455053|B000FQ9R4E|     458672496| 2014-08-26|
|   11272310|            20|R19E7SNAQIPO0U|          3|            1|          1|   N|                N|R19E7SNAQIPO0U|   11272310|B000CQ75VY|     804102372| 2011-08-20|
|   11272310|            20|R1E0KXQ1K1O797|          3|            1|          1|   N|                Y|R1E0KXQ1K1O797|   11272310|B000ZK9QCS|     699333646| 2014-01-02|
|   11272310|            20|R1E9QLYR71F644|          2|            1|          2|   N|                Y|R1E9QLYR71F644|   11272310|B000HKP88C|     793802052| 2015-07-15|
|   14175902|            22|R1LRUAJBO1NLU9|          5|            1|          1|   N|                N|R1LRUAJBO1NLU9|   14175902|B002I0K2J4|     272463214| 2012-05-20|
|   14175902|            22|R1VOFJ7X8NP9RV|          2|           10|         13|   N|                N|R1VOFJ7X8NP9RV|   14175902|B004FYEZMQ|     868275572| 2012-04-13|
|   14175902|            22|R3VDSX3CPPNDBH|          4|            3|          3|   N|                Y|R3VDSX3CPPNDBH|   14175902|B006P5RW3M|     453488210| 2012-07-04|
+-----------+--------------+--------------+-----------+-------------+-----------+----+-----------------+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [10]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of 
# review (paid vs unpaid).
import pandas as pd

# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was
# written as part of the Vine program (paid), vine == 'Y'.
vine = analysisTable.filter(analysisTable.vine == 'Y')

total_count = vine.count()
rating_count = vine.filter(vine.star_rating == 5).count()
percentage =  f'{(rating_count/total_count)*100}%'
vineDescribed = pd.DataFrame(data={'Total Count': total_count, '5 Star Rating Count': rating_count, 
                              '5 Star Percentage': percentage}, index=[0])
vineDescribed.head()

   Total Count  5 Star Rating Count   5 Star Percentage
0          463                  163  35.20518358531318%

In [11]:
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
notVine = analysisTable.filter(analysisTable.vine == 'N')

total_count = notVine.count()
rating_count = notVine.filter(notVine.star_rating == 5).count()
percentage =  f'{(rating_count/total_count)*100}%'
notVineDescribed = pd.DataFrame(data={'Total Count': total_count, '5 Star Rating Count': rating_count, 
                              '5 Star Percentage': percentage}, index=[0])
notVineDescribed.head()

   Total Count  5 Star Rating Count  5 Star Percentage
0        50749                25029  49.3191984078504%

## Upload to Postgre Database

In [12]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')

# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://dataviz.ccifjjodkw3d.us-west-1.rds.amazonaws.com:5432/my_data_class_db"
config = {"user":"postgres", "password": password, "driver":"org.postgresql.Driver"}

Enter database password··········

In [41]:
# Customers Table
customers_table.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

In [42]:
# Product Table
product_table.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

In [43]:
# Review ID Table
review_id_table.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [44]:
# Vine Table
vine_table.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)